@use 'variables';
@use 'mixins';
@use 'typography';
@use 'layout';
@use 'board';

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-select {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
.dragging{
  opacity: 0.5;
  background-color: yellowgreen !important;
}
[role="button"]{
  -webkit-user-drag: none;
  user-select: none;

}
body{
    padding: 0;
    margin: 0;
}